<nav>
	<center>
	<hr />
	<h1>1st Workshop on Virtualization Solutions for High-Performance Computing</h1>
	<h3>24th January 2017<h3>
	<h3>Co-located with <a href="https://www.hipeac.net/2017/stockholm/" target=_blank>HiPEAC 2017</a> in Stockholm, Sweden, January 23-25, 2017</h3>
	<hr />
	<ul>
		<li><a href="/#">Home</a></li>
		<li><a href="/#news">News</a></li>
		<li><a href="/#about">About</a></li>
		<li><a href="/#program">Program</a></li>
		<li><a href="/#topics">Topics</a></li>
		<li><a href="/#cfp">CfP</a></li>
		<li><a href="/#deadlines">Deadlines</a></li>
		<li><a href="/#committee">PC</a></li>
		<li><a href="/#contact">Contact</a></li>
	</ul>
	<hr />
	</center>
</nav>
