@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	background-image: url("../img/background.png");
}

body {
	background-color: rgba(0,0,0,0.97);
	color: rgba(55,228,255,1);
	padding: 5px;
	margin: auto;
	width: 80%;
	border: 5px solid rgba(9,163,217,0.7);
	font-family: "Open Sans";
}

body h1 {
	color: rgba(255,255,255,1);
}

body h2 {
	color: rgba(255,255,255,1);
}

body h3 {
	color: rgba(35,230,255,1);
}


header, nav, main, footer {
	margin: 15px;
}

header, nav {
	text-align: center;
}

footer {
	color: rgba(10,165,220,1);
}

.ascii {
	color: rgba(255,255,255,1);
	font-weight: bold;
}

.logo {
	font: 10px/5px monospace;
}

nav ul {
	display: block;
	padding: 0;
}

nav ul li {
	display: inline;
	padding-left: 10px;
}

nav ul li a {
	text-decoration: none;
	color: rgba(255,255,255,1);
}

nav ul li a:hover {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: rgba(9,163,217,1);
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-family: monospace;
}

.highlighter-rouge {
	color: rgba(255,255,255,0.4);
}

.highlight {
	color: rgba(255,255,255,0.7);
}

.highlight {
	border: 1px solid rgba(255,255,255,0.3);
	padding: 15px;
	background-color: #0D0D0D;
}

.greydout {
	-webkit-opacity: 0.25;
	-moz-opacity: 0.25;
	opacity: 0.25;
}

.greydout:hover {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}


img, main iframe {
	width: 70%;
	margin-left: 0%;
	border: 2px solid rgba(9,163,217,0.5);
}

main header {
	text-align: center;
	padding-bottom: 15px;
	border: 0;
}

